body {
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #434C5E; /* dark mode default */
    transition: background-color 0.5s;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #3B4252;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #ECEFF4; /* text color overall */
    position: relative;
}

.header {
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    margin-bottom: 0px;
}

.contact {
    margin-bottom: 20px;
}

.contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.contact li {
    margin: 10px;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

.contact a:hover {
    color: #ccc;
}

.contact-links {
    padding-top: 10px;
    margin-bottom: 10px;
}

.social-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #3B4252;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.social-box i {
    font-size: 24px; /* Increased font size for better visibility */
    color: #ECEFF4;
}

.toggle-mode {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.toggle-mode i {
    font-size: 20px;
    color: #ECEFF4;
}

.light-mode .toggle-mode i {
    font-size: 20px;
    color: #333;
}

.light-mode {
    background-color: #ECEFF4;
}

.light-mode .container {
    background-color: #E5E9F0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #3B4252;
}

.light-mode .social-box {
    background-color: #E5E9F0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.light-mode .social-box i {
    color: #3B4252;
}

/* Add responsiveness */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
    .profile-pic {
        width: 80px;
        height: 80px;
    }
    .bio {
        font-size: 16px;
    }
    .contact ul {
        flex-wrap: wrap;
    }
    .contact li {
        margin: 10px 20px;
    }
}
